# --- Serving options --- #

# url is the full website URL
# baseurl is the website's URL without the hostname

# If you are building a simple GitHub user page (username.github.io) then use these settings:
#url: "http://username.github.io"
#baseurl: ""

# If you are building a GitHub project page then use these settings:
url: "https://thejacksonlaboratory.github.io/long-read-workshop/"
baseurl: "/long-read-workshop"

# Of course don't forget to change the username and projectname to YOUR username and project

# Name of website
title: The Jackson Laboratory

# Short description of your site
description: Long-read sequencing is rapidly becoming the standard in genomics, for assembling genomes, identifying structural variants, sequencing through repetitive regions, and phasing critical variants. Through this 3-day workshop, participants, including graduate students, post-doctoral fellows, and faculty, will learn about the technology and molecular biology driving each sequencing platform, including those from Pacific Biosciences, 10X Genomics, and Oxford Nanopore. Expert users, developers and representatives from long-read sequencing companies will share information about their applications in basic and translational genomic science, and will explore the commonalities and differences in long-read sequencing technologies. 

# --- Navigation bar options --- #

# Image to show in the navigation bar - image must be a square (width = height)
# Remove this parameter if you don't want an image in the navbar
avatar: "/img/avatar-icon.png"

# List of links in the navigation bar
navbar-links:
  Home: ""
  Workshops:
   - Pacific Biosciences: "pacbio-instances"
   - 10X Genomics: "10x-instances.html"
   - Oxford Nanopore: "oxford-instances"
   - Bionano Access: "http://ec2-52-73-205-115.compute-1.amazonaws.com:8080/gp/"
# --- Footer options --- #

# Change all these values or delete the ones you don't want.
# Important: you must keep the "name" parameter, everything else you can remove
author:
  name: The Jackson Laboratory
 
# Select which links to show in the footer
footer-links-active:
  bitly: https://goo.gl/Viomdv
  rss: false
  facebook: false
  email: false
  twitter: false
  github: false
  linkedin: false
  stackoverflow: false

# How to display the link to the website in the footer
# Remove this if you don't want a link in the footer
url-pretty: "deanattali.com/beautiful-jekyll"  # eg. "deanattali.com/beautiful-jekyll"

# --- Misc --- #

# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
#disqus: ""

# --- Don't need to touch anything below here (but you can if you want) --- #

# Output options (more information on Jekyll's site)
timezone: "America/Vancouver"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts 
      show-share: true # add sharing buttons to all blog posts
  -
    scope:
      path: "" # all files
    values:
      layout: "page"

# Exclude these files from production site
exclude:
  - CNAME
  - LICENSE
  - README.md
